body {
    background-color: #f5e1c0;
    font-family: Arial;
    color: #5c3317;
    text-align: center;
}

h1 {
    background-color: #b85c38;
    color: white;
    padding: 20px;
}

.kartica {
    background-color: #fff4df;
    width: 400px;
    margin: 30px auto;
    padding: 15px;
    border: 2px solid #b85c38;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

img {
    width: 300px;
    border-radius: 10px;
}

.zanimljivosti {
    background-color: #e5a44b;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
}

img {
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}
